  <div class="wrapper">
    <div class="displays">

      <h3>Situation</h3>
      <ziggeo
      ziggeo-width=300
      ziggeo-height=300>
      </ziggeo>

      <h3>Example</h3>
      <ziggeo
      ziggeo-width=300
      ziggeo-height=300>
    </ziggeo>
    </div>


    <div class="recorder">
      <h2>Practice</h2>
      <ziggeo
        ziggeo-video= <%= @video.token %>
        ziggeo-width=400
        ziggeo-height=450>
      </ziggeo> <br>
      <div contenteditable="true" placeholder="Enter text here..."></div>
    </div>
    <div class="coach">
      <%= image_tag @coach.avatar.url(:square) %>
      <img src="http://placehold.it/350x300">
    </div>
  </div>




  <script >


        ZiggeoApi.Events.on("submitted", function (data) {
            var video = data.video.tokena
            $.ajax({url: "https://localhost:3000/videos/", method: "post"});
        });

  </script>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
