<main class="live-chat">
  <section class="chat">
    <ol id="conversation">
      <li class="message">
        <p>
          "Available now type me or start a hangout!"
        </p>
      </li>
    </ol>
  </section>
  <section class="new-message">
    <textarea name="message-body" id="new-message-body" cols="30" rows="5" placeholder="Start Typing"></textarea>
  <input type="button" id="new-message-button" value="Send">
  </section>
</main>
