//
// This is a manifest file that'll be compiled into application.css, which will
// include all the files listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets,
// vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets directory
// can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at
// the bottom of the compiled file so the styles you add here take precedence
// over styles defined in any styles defined in the other CSS/SCSS files in this
// directory. It is generally better to create a new file per style scope.
//

// @import 'materialize';
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import 'bootstrap-sprockets';
@import 'bootstrap-variables';
@import 'bootstrap';
@import 'jquery.fancybox';
@import 'lightbox';
@import 'mini_chat';
@import 'responsive';



body {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .5);
}

h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  // margin: 15px 0;
  // font-size: 1.75em;
  font-weight: normal;
  // line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  font-family: 'Slabo 27px', serif;
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
}

.logo-two img{
  float: left;
  clear: left;
  height: 29em;
  left: -1em;
  padding: 0;
  z-index: 3;
  top: -8em;
  position: absolute;
}

.logo .logo-two {
  height: 1em;
width: 188px;
padding-bottom: 5px;
padding-left: 51px;
}

.logo {
  padding: 15px;
}

.menuBackground .coach-image {
  border-radius: 100%;
}
.wrapper {

  font-size: 1em;
  margin: 0 auto;
  padding-top: 8em;
  max-width: 100%;
  padding: 0;
  text-align: left;

}

.live-chat {
  margin: 0 auto;
  text-align: center;
}

.displays {
  border-radius: 100%;
  display: inline-block;
  float: right;
  margin: 50px 50px;
  padding: 20px 30px;
}

.recorder {
  float: right;
  margin: 10px 70px 80px;
  padding: 6px 30px 11px;
}

img {
  border-radius: 100%;
}

.coach {
  display: inline-block;
  background-color: brown;
  display: inline-block;
  // float: right;
  margin: 0 0 5%;
  padding-top: 6%;
  padding-right: 2em;
  padding-bottom: 98px;
  padding-left: 2em;
  text-align: center;
}

div[contenteditable=true] {
  border: 1px dashed #AAA;
  width: 290px;
  padding: 5px;
}



/*bubble lay out in coach show*/

.bubble-speech{
  position:relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin:auto;
  line-height:22px;
  letter-spacing:1px;
  margin-top:16px;
  margin-bottom:48px;
  width:300px;
  background-color: #efefef;
  padding:16px;

}

.bubble-speech.bubble-left:after{
  z-index: 9002;
  display: block;
  content: "";
  position:absolute;
  bottom:-12px;
  left: 0;
  border-top: 0 #efefef solid;
  border-bottom: 12px transparent solid;
  border-left: 20px  #efefef solid;
}

.bubble-square{
  width:33px;
  height:25px;
  text-align:center;
}

.bubble-speech.bubble-center:after{
  z-index: 9002;
  display: block;
  content: "";
  position:absolute;
  bottom:-12px;
  left: 50%;
  margin-left:-18px;
  border-right: 20px transparent solid;
  border-top: 12px #efefef solid;
  border-left: 20px  transparent solid;
}

.bubble-speech.bubble-right:after{
  z-index: 9002;
  display: block;
  content: "";
  position:absolute;
  bottom:-12px;
  right: 0;
  border-top: 0 #efefef solid;
  border-bottom: 12px transparent solid;
  border-right: 20px  #efefef solid;
}

.bubble-speech .author{
  max-width:200px;
  font-weight:bold;
  margin:0;
  padding: 0 12px 2px 0;
}


/* General Styles for Menu  */
.menuBackground {
  background: brown;
  text-align: center;
}
.dropDownMenu a {
  color: #FFF;
}
.dropDownMenu,
.dropDownMenu ul {
  height: 11em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropDownMenu li {
  position: relative;
}
.dropDownMenu a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}
.dropDownMenu a:hover {
  background: #000;
}


/* Level 1 Drop Down */
.dropDownMenu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
  margin-left: 0;
}

/* Level 2 */
.dropDownMenu ul {
  box-shadow: 2px 2px 15px 0 rgba(0,0,0, 0.5);
}
.dropDownMenu > li > ul {
  background: green;
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 240px;
  z-index: 999999;  // if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video
}

//* Level 3 */
.dropDownMenu > li > ul > li > ul {
  background: darkcyan;
  display: none;
  left: 100%;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: 9999999;
}
//* Level 4 */
.dropDownMenu > li > ul > li > ul > li > ul {
  background: #0000ff;
  display: none;
  left: 100%;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: 9999999;
}
