/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0;
    text-align: left;
    font-size: 1em;
    padding-top: 8em;
  }

 .displays {
   float: lefth;
   margin: 0 2em 5%;
   display: inline-block;
   padding: 0 3%;
   border-radius: 100%;
 }

 .recorder {
   display: inline-block;
   margin: 0 2em 80px;
   padding: 16% 4% 0 4%;
 }

 .coach {
   float: right;
   margin: 0 0 5%;
   display: inline-block;
   padding: 17% 2em;
   border-radius: 100%;
 }

 div[contenteditable=true] {
   border: 1px dashed #AAA;
   width: 290px;
   padding: 5px;
 }



 /*bubble lay out in trainee show*/
 html,body{
  background-color:; 
}

.bubble-speech{
  position:relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin:auto;
  line-height:22px;
  letter-spacing:1px;
  margin-top:16px;
  margin-bottom:48px;
  width:300px;
  background-color: #efefef;
  padding:16px;

  }

.bubble-speech.bubble-left:after{
z-index: 9002;
display: block;
content: "";
position:absolute;
bottom:-12px;
left: 0;
border-top: 0 #efefef solid;
border-bottom: 12px transparent solid;
border-left: 20px  #efefef solid;
}

.bubble-square{
  width:33px;
  height:25px;
  text-align:center;
}

.bubble-speech.bubble-center:after{
    z-index: 9002;
display: block;
content: "";
position:absolute;
bottom:-12px;
left: 50%;
margin-left:-18px;
border-right: 20px transparent solid;
border-top: 12px #efefef solid;
border-left: 20px  transparent solid;
}

.bubble-speech.bubble-right:after{
  z-index: 9002;
display: block;
content: "";
position:absolute;
bottom:-12px;
right: 0;
border-top: 0 #efefef solid;
border-bottom: 12px transparent solid;
border-right: 20px  #efefef solid;
}

.bubble-speech .author{
  max-width:200px;
  font-weight:bold;
  margin:0;
  padding: 0 12px 2px 0;
}
