/*mobile responsive layout
@media screen and (min-width: 480px) {

}*/

/*tablet responsive layout*/
/*@media screen and (min-width: 660px) {

}*/

/*tablet responsive layout*/
/*@media screen and (min-width: px) {

.displays {
  border-radius: 100%;
  display: inline-block;
  float: right;
  margin: 50px 77px;
  padding: 20px 50px;
}*/

/*.recorder {
  float: right;
  margin: 14px 50px 80px;
  padding: 27px 36px 11px;
}
}*/
