<!DOCTYPE html>
<html>
<head>
  <title>Ziggeo Facential Version</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Orbitron:900' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-latest/ziggeo.css" />
  <script src="//assets-cdn.ziggeo.com/v1-latest/ziggeo.js"></script>
  <script>
    ZiggeoApi.token ='';
  </script>

  <!-- bootstrap font-awesome cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="menuBackground">
  	<div class="center myMenu">
  		<ul class="dropDownMenu">
  			<li><a href="#">Home</a></li>
  			<li><a href="#">Contact</a>
  				<ul>
  					<li><a href="#">info</a></li>
  				</ul>
  			</li>
        <li><a href="#">About</a>
          <ul>
            <li><a href="#">Start up story</a></li>
          </ul>
        </li>
  			<li><a href="http://html-tuts.com/?p=9961">Course</a>
  				<ul>
  					<li><a href="http://html-tuts.com/?p=9961">Course Name</a>
  						<ul>
                <li><a href="http://html-tuts.com/?p=9961">Course Topic</a>
      						<ul>
      							<li><a href="http://html-tuts.com/?p=9961">Topic Lessons</a></li>
      						</ul>
      					</li>
  						</ul>
  					</li>
  				</ul>
  			</li>
  		</ul>
  	</div>
  </div>


<%= yield %>
<script type="text/javascript">
  $('.myMenu ul li').hover(function() {
  	$(this).children('ul').stop(true, false, true).slideToggle(300);
  });
</script>
</body>
</html>
